@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
  font-size: 16px;
  border: none;
}

.question__topnav {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(https://www.livecareer.com/questions/images/header.png);
  height: 316px;
  padding-top: 65px;
  color: #fff;
  h1 {
    font-size: 46px;
    font-weight: bold;
  }
  p {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.6;
    margin: 10px 0;
    font-size: 18px;
    max-width: 700px;
  }
}

.question__container {
  max-width: 1150px;
  margin: 10px auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__flexstart {
  justify-content: flex-start;
  align-items: initial;
}

.search__button {
  position: relative;
  background: #f7971e;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  span {
    position: absolute;
    background: url('../img/search.png') no-repeat;
    padding: 22px;
    left: 10px;
  }
  button {
    width: 115px;
    padding: 15px 20px;
    height: 50px;
    background-color: #f15f4f;
    border-radius: 3px;
    color: #fff;
    font-family: inherit;
  }
  input {
    width: 70%;
    height: 50px;
    border: 1px solid #cccccc;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    margin-left: 50px;
  }
}

.question__about {
  position: relative;
  border: 1px solid #c4c4c4;
  margin: 15px !important;
  padding: 30px 15px 30px 50px;
  width: 320px;
  color: #3591cf;

  h1 {
    display: flex;
    span {
      position: absolute;
      background: url('../img/information.png') no-repeat;
      padding: 15px;
      top: 24px;
      left: 12px;
    }
  }
}

.loader__spin {
  position: relative;
  img {
    position: absolute;
    top: 0px;
    right: 0;
    transform: translate(-50%, 50%);
  }
}

.search__card {
  margin-top: 30px;
  display: flex;
    border-bottom: 1px solid #eee;
  .search__item{
    margin-right: 15px;
    p{
      color: #4a90e2;
      font-size: 12px;
      padding: 0;
      margin-top: -7px;
    margin-bottom: 15px;
    font-weight: 700;


    }
  }
  .search__description {
    p {
      font-size: 12px;
      font-weight: 600;
      color: #9b9b9b;
      span{
        background-color: #f7971e;
        border-radius: 12px;
        color: #ffffff;
        font-size: 12px;
        padding: 4px 15px 4px 15px;
        
      }
    }
    h1 {
      color: #3591cf;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;

    }
  }
 
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin-top:20px;
}


.pagination a:hover:not(.active) {background-color: #ddd;}
