@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 16px;
  border: none;
}

.question__topnav {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(https://www.livecareer.com/questions/images/header.png);
  height: 316px;
  padding-top: 65px;
  color: #fff;
}

.question__topnav h1 {
  font-size: 46px;
  font-weight: bold;
}

.question__topnav p {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6;
  margin: 10px 0;
  font-size: 18px;
  max-width: 700px;
}

.question__container {
  max-width: 1150px;
  margin: 10px auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__flexstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.search__button {
  position: relative;
  background: #f7971e;
  border-radius: 6px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.search__button span {
  position: absolute;
  background: url("../img/search.png") no-repeat;
  padding: 22px;
  left: 10px;
}

.search__button button {
  cursor: pointer;
  width: 115px;
  padding: 15px 20px;
  height: 50px;
  background-color: #f15f4f;
  border-radius: 3px;
  color: #fff;
  font-family: inherit;
}

.search__button button:hover {
  background: #e64e3d;
}

.search__button input {
  width: 75%;
  height: 50px;
  border: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 10px;
  margin-left: 50px;
}

.question__about {
  position: relative;
  border: 1px solid #c4c4c4;
  margin: 15px !important;
  padding: 30px 15px 30px 50px;
  width: 320px;
  color: #3591cf;
}

.question__about h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question__about h1 span {
  position: absolute;
  background: url("../img/information.png") no-repeat;
  padding: 15px;
  top: 24px;
  left: 12px;
}

.loader__spin {
  position: relative;
}

.loader__spin img {
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.search__card {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
}

.search__card .search__item {
  margin-right: 15px;
}

.search__card .search__item p {
  color: #4a90e2;
  font-size: 12px;
  padding: 0;
  margin-top: -7px;
  margin-bottom: 15px;
  font-weight: 700;
}

.search__card .search__description p {
  font-size: 12px;
  font-weight: 600;
  color: #9b9b9b;
}

.search__card .search__description p span {
  background-color: #f7971e;
  border-radius: 12px;
  color: #ffffff;
  font-size: 12px;
  padding: 4px 15px 4px 15px;
}

.search__card .search__description h1 {
  color: #3591cf;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.by__topic {
  width: 400px;
}

.by__topic .topic__item {
  border: 1px solid #c4c4c4;
  margin: 15px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.by__topic .topic__item h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.by__topic .topic__item .browse__topic {
  display: inline-block;
}

.by__topic .topic__item .browse__topic span {
  cursor: pointer;
  margin: 7px 0;
  padding: 5px;
  font-size: 25px;
  border-radius: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #3691d1;
  color: #fff;
}

.by__topic .topic__item .browse__topic p {
  cursor: pointer;
  margin: 7px 0;
  padding: 5px;
  border-radius: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #3691d1;
  color: #fff;
}

.by__topic .browse__topic p {
  font-size: 200;
}

.question__your {
  border: 3px solid #f7971e;
  height: 180px;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
  clear: both;
}

.question__your h1 {
  font-size: 24px;
  width: 460px;
  margin: auto;
  font-weight: bold;
  text-align: center;
}

.question__your .wrapper__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=Question.css.map */